@import url('https://fonts.googleapis.com/css?family=Roboto|Raleway&display=swap');
//* {border: 1px solid green;}
/*Variables*/
$width: 50vw;
$small-width: $width * .3;
$length-width: $small-width * .8;
$length-btn-width: $small-width * .14;
$margin: $width * .02;
$time-font-family: 'Roboto', san-serif;

body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: $width;
  font-family: "Raleway", sans-serif;
  font-size: 1.6vw;
  text-align: center;
}

.app-container {
  height: $width / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  border-radius: 36px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.66);
}

.title {
  width: $width;
  margin: 0 0 $margin 0;
  font-size: 2em;
  font-weight: bold;
  color: #CB4335;
  text-shadow: #5B5B5B 1px 1px 5px;
}

.time-length-container, .timer-container {
  margin: $width * .01;
}

.time-length-container {
  width: $length-width;
  height: $length-width * .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.66);

  .length-label {
    margin: 0;
    width: $length-width;
    height: fit-content;
    font-weight: bolder;
  }
  .time-length-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;

    .length-btn {
      margin: 0;
      width: $length-btn-width;
      height: $length-btn-width;
      font-size: .9em;
      border-radius: 50%;
      border: none;
      outline: none;
      background: rgb(255,252,252);
      background: linear-gradient(to bottom, rgb(255,252,252) 0%, rgb(222,222,222) 42%, rgb(194,194,194) 100%);
      box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.66);
    }
    .time-length {
      width: $small-width * .3;
      margin: 0;
      font-family: $time-font-family;
      font-size: 2em;
    }
  }
}

.timer-container {
  display: flex;
  flex-direction: column;
  width: $small-width * 1.2;
  height: $small-width * 1.2;
  border-radius: 50%;
  background: rgb(203,67,53);
  background: linear-gradient(to top, rgb(203,67,53) 0%, rgb(231,76,60) 50%, rgb(236,112,99) 100%);
  box-shadow: 2px 2px 15px 2px rgba(0,0,0,0.66);

  .label-container {
    #timer-label {
      margin: $margin * 2 0 $margin * .8 0;
      font-size: 1.5em;
      font-weight: bold;
    }
      #timer-left {
        font-family: $time-font-family;
        font-size: 3.2em;
      }
  }

  .btn-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .timer-btn {
      margin: $margin .5vw;
      font-size: 1.6em;
      text-shadow: #5B5B5B 1px 1px 5px;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}
